html {
    --black1-font: #191816;
    --black1-bg: #191816;
    --black1-border: #191816;

    --black2-font: #23242C;
    --black2-bg: #23242C;
    --black2-border: #23242C;

    --black1-20-font: rgba(51,50,50,0.2);
    --black1-20-bg: rgba(51,50,50,0.2);
    --black1-20-border: rgba(51,50,50,0.2);

    --black3-font: #30323E;
    --black3-bg: #30323E;
    --black3-border: #30323E;

    --black4-font: #302424;
    --black4-bg: #302424;
    --black4-border: #302424;

    --blue1-font: #99C0F0;
    --blue1-bg: #99C0F0;
    --blue1-border: #99C0F0;

    --blue2-font: #4D75A3;
    --blue2-bg: #4D75A3;
    --blue2-border: #4D75A3;

    --blue3-font: #E4F2FD;
    --blue3-bg: #E4F2FD;
    --blue3-border: #E4F2FD;

    --blue4-font: #65B0EE;
    --blue4-bg: #65B0EE;
    --blue4-border: #65B0EE;

    --brown1-font: #664E27;
    --brown1-bg: #664E27;
    --brown1-border: #664E27;

    --brown2-font: #907524;
    --brown2-bg: #907524;
    --brown2-border: #907524;

    --grey1-font: #7C8092;
    --grey1-bg: #7C8092;
    --grey1-border: #7C8092;

    --grey2-font: #D4D4DD;
    --grey2-bg: #D4D4DD;
    --grey2-border: #D4D4DD;
    --grey2-hover: #D4D4DD;

    --grey3-font: #E1E1E9;
    --grey3-bg: #E1E1E9;
    --grey3-border: #E1E1E9;

    --grey4-font: #B9B9B9;
    --grey4-bg: #B9B9B9;
    --grey4-border: #B9B9B9;
    --grey4-hover: #B9B9B9;


    --grey5-font: #E9E9E9;
    --grey5-bg: #E9E9E9;
    --grey5-border: #E9E9E9;
    --grey5-hover: #E9E9E9;
    
    --grey6-font: #EEEFF4;
    --grey6-bg: #EEEFF4;
    --grey6-border: #EEEFF4;
    
    --grey7-font: #F3F5F9;
    --grey7-bg: #F3F5F9;
    --grey7-border: #F3F5F9;
    
    --grey8-font: #F5F5F7;
    --grey8-bg: #F5F5F7;
    --grey8-border: #F5F5F7;
    
    --purple1-font: #8C46F5;
    --purple1-bg: #8C46F5;
    --purple1-border: #8C46F5;
    --purple1-hover: #8C46F5;

    --purple2-font: #D4B9EB;
    --purple2-bg: #D4B9EB;
    --purple2-border: #D4B9EB;
    --purple2-hover: #D4B9EB;

    --purple3-font: #7E40DA;
    --purple3-bg: #7E40DA;
    --purple3-border: #7E40DA;

    --white-font: white;
    --white-bg: white;
    --white-border: white;
}