.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}
.text {
    font-family: "Inter-Medium";
    font-size: 18px;
    color: var(--grey1-font);
    margin: 0 19px 0 0;
}
.button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0px;
    color: transparent;
    opacity: 0;
    user-select: none;
}
.picture {
    background-color: var(--grey3-bg);
    border-radius: 7px;
    height: 51px;
    width: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text, 
.picture {
    transition: all 0.5s;
}

@media(hover:hover) {
    .button:hover {
        cursor: pointer;
        & + .text {
            color: var(--purple1-hover);
        }
        & ~ .picture {
            background-color: var(--grey2-hover);
        }
    }
}
.button:active {
        & ~ .picture,
        & + .text {
            transition: all 0s;
        }
        & ~ .picture {
            background-color: var(--blue3-bg);
        }
        & + .text {
            color: var(--black1-font);
        }
}

// Сделаем hover если есть курсор,
// Active тут не то чтобы нужен, но можно добавить чтобы в случае чего user понял что нажал
// Не нужен т.к. редирект на другую страницу будет